:root{
    --fondo: #012e46;
    --secundario: #7E2553;
    --letras: #D9EAE5;
    --enfasis: #00F2FF;
  }
  
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-color: var(--fondo);
    color: var(--letras);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #caja{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1{
    color: var(--enfasis);
    text-align: center;
  }
  
  #desc{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  
  #pal{
    width: 320px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #pal:hover{
    animation: pulso 2s infinite linear;
    cursor: pointer;
  }
  
  .cuadro{
    margin: 10px 20px;
    width: 50%;
    min-width: 320px;
    max-width: 700px;
    padding: 10px 20px;
    background-color: var(--secundario);
  }
  
  .oculto{
    display: none;
  }
  
  #contenedor{
    width: 80%;
    min-width: 320px;
    max-width: 700px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  
  #contenedor label{
    margin-top: 15px;
  }
  
  #in{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
  
  #text-input{
    font-size: 1rem;
    text-align: center;
    border: 2px solid var(--enfasis);
  }
  
  #check-btn{
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
    background-color: var(--enfasis);
    color: var(--fondo)
  }
  
  #result{
    display: none;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    background-color: var(--fondo);
    border: 2px solid var(--enfasis);
  }
  
  @keyframes pulso{
    0%   { scale: 1; }
    25%  { scale: 1.05; }
    50%  { scale: 1.075; }
    75%  { scale: 1.05; }
    100% { scale: 1; }
  }